on:
  workflow_dispatch:
    inputs:
      artifact_name:
        description: "Name of artifact to download containing the file to sign"
        required: false
        default: ExeToSign
      file_to_sign:
        description: "Path to file to sign (after artifact download / checkout)"
        required: false
        default: hello-world-app.exe
      sign_method:
        description: Signing method: jsign (default) or openssl (advanced)
        required: false
        default: jsign
