name: Signum Windows Agent Signing

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  windows-agent:
    name: Signum-Win-Sign
    runs-on: windows-latest

    steps:
      - name: Download unsigned artifact
        uses: actions/download-artifact@v4
        with:
          name: ExeToSign
          path: .

      - name: Download Signum Windows Agent
        run: |
          curl -o kf-agent.msi "https://kfsaas0167ead7.blob.core.windows.net/signum-public/agents/windows/4.40.1/kf-agent-x64-4.40.1-ffb85044-MS-WO_Trust.msi"

      - name: Install Signum Agent
        shell: pwsh
        run: |
          msiexec /i kf-agent.msi /passive `
            RTPRIMARY="${{ secrets.SIGNUM_HOSTNAME }}" `
            RTSECONDARY="${{ secrets.SIGNUM_HOSTNAME }}" `
            CLIENTID="${{ secrets.SIGNUM_CLIENTID }}" `
            AuthMode="LocalUsers" `
            AGENTMODE="SERVER" `
            Language="en-US" `
            /L*V "$env:GITHUB_WORKSPACE\signum-install.log"

      - name: Configure Agent Authentication
        shell: pwsh
        run: |
          & "C:\Program Files\KeyFactor\rtsetup.exe" `
            -authMode=LocalUsers `
            -username="${{ secrets.SIGNUM_USERNAME }}" `
            -password="${{ secrets.SIGNUM_PASSWORD }}"

      - name: Restart RTService
        shell: pwsh
        run: |
          Restart-Service -Name RTService
          Start-Sleep -Seconds 5

      - name: List Available Certificates
        shell: pwsh
        run: |
          Get-ChildItem Cert:\LocalMachine\My |
          Select-Object Subject, Thumbprint

      - name: Sign EXE with Signum Certificate
        shell: pwsh
        run: |
          & "C:\Program Files (x86)\Windows Kits\10\bin\10.0.26100.0\x64\signtool.exe" `
            sign `
            /fd sha256 `
            /tr http://timestamp.sectigo.com `
            /td sha256 `
            /sm `
            /n "Demo" `
            *.exe

      - name: Rename signed EXE
        shell: pwsh
        run: |
          Rename-Item -Path *.exe -NewName windows-agent-signed.exe

      - name: Upload Signed Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ExeToVerify-Windows-Agent
          path: windows-agent-signed.exe
